.landing-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.landing-header {
  align-items: center;
  display: flex;

  text-align: center;
  padding: 88px 10%;
  flex-direction: column;
}
.landing-para {
  margin: 0 15%;
  margin-bottom: 32px;
}
h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 58px;
}
.landing-button {
  display: inline-flex;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  padding: 12px 43px;
  height: 48px;
  text-decoration: none;
  text-transform: uppercase;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  letter-spacing: inherit;
  box-shadow: 0 8px 20px rgba(11, 13, 26, 0.1);
  color: #fff;
  background-color: #007ae2;
  white-space: nowrap;
  margin-bottom: 64px;
}
html {
  letter-spacing: -0.1px;
}
.main-image {
  width: 100%;
  box-shadow: 0 24px 64px rgba(11, 13, 26, 0.32);
}
.landing-components {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-component-des {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.1px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .landing-header {
    align-items: center;
    display: flex;
    text-align: center;
    padding: 50px 0%;
    flex-direction: column;
  }
  .landing-para {
    margin: 0;
    margin-bottom: 32px;
    line-height: 30px;
  }
  h1 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 12px;
  }
  .landing-button {
    margin-bottom: 48px;
  }
}
